#heading{
    color:black;
    background-color: aquamarine;
    font-size: 30px;
    text-align: center;
}
.para{
    color:black;
    background-color: aqua;
    font-size: 20px;
}
#ss{
    color: black;
    background-color: beige;
    font-size: 30px;
    text-align: center;
}
.ss{
     color: black;
    background-color:aqua;
    font-size: 30px;
    text-align: center;
}