<h1 id="heading">{{component}}</h1>
<p class="para">Hello EveryOne</p>
<p>My favourite Angular</p>

<a href="https://www.google.com/" target="_blank" title="googleLink">click me</a>
<br/>
<br/>
<!-- task flipkar-->
<a href="https://www.flipkart.com/" target="_blank" title="flipkart">click me</a>

<br/>
<br/>


<!--insert image-->
<img src="assets/images/download.png" alt="logo">
<br/>


<!---->
<marquee class="tt">my favourite Angular</marquee>
<marquee direction="right" id="ss">My favourite Angular</marquee>
<marquee class="tt" behaviour="alternate" onmouseover="stop()" onmouseout="start()"></marquee>
<a href="https://www.google.com/" target="_blank"> <img src="assets/images/download.png" alt="logo"></a>
<marquee class="tt" behaviour="alternate" onmouseover="stop()" onmouseout="start()">
  <img src="assets/images/download.png" alt="logo">
  <img src="assets/images/download.png" alt="logo">
  <img src="assets/images/download.png" alt="logo">
  <img src="assets/images/download.png" alt="logo">


</marquee>

<hr/>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button>


<app-home></app-home>
<app-about></app-about>
<app-array-data-component></app-array-data-component>
<app-json-data></app-json-data>
<app-two-way-binding></app-two-way-binding>
<app-attribute-directive></app-attribute-directive>
<app-attribute></app-attribute>
<app-highlight></app-highlight>
<app-main></app-main>
<app-pipe></app-pipe>
<router-outlet></router-outlet>
